<h1>PRECIOS DE LAS BITCOINS ACTUALMENTE</h1>
<input type="text" (keyup)="searchCoin()" [(ngModel)]="searchText">
<section>
  <article>
    <p *ngFor="let title of titles">{{title}}</p>
  </article>
  <article *ngFor="let coin of filteredCoins; let i = index">
    <div>
      <p>{{i+1}}</p>
      <img [src]="coin.image" alt="">
    </div>
    <div>
      <p>{{coin.name}}</p>
      <p class="symbol">{{coin.symbol.toLocaleUpperCase()}}</p>
    </div>
    <p>{{coin.current_price.toLocaleString()}}</p>
    <p [ngClass]="coin.price_change_percentage_24h > 0 ? 'text-success' : 'text-danger'">{{coin.price_change_percentage_24h.toLocaleString()}}</p>
    <p>{{coin.total_volume.toLocaleString()}}</p>
  </article>
</section>